* { 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
}

#topo {
    display: flex;
    background-color: #302f2f;
    margin: 0;
    align-items: center;
}

#topo li:first-child {
    margin-right: auto;
    text-align: left;
}

#topo li {
    display: block;
    padding: 15px;
}
article {
    background-color: teal;
    border: 5px solid gray;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
    width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 10%;
}

h1 {
    padding: 20px;
   
}

#fotoperfil{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 10px 10px rgba(36, 209, 186, 0.5);
}

#botao2 {
    color: white;
}

.caixaconteudo {
    background-color: white;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.473);
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 5%;
}

#resumo {
    background-color: black;
    padding: 7%;
    border: 5px solid rgb(240, 97, 15);
    display: flex;
    align-content: center;
    justify-content: center;
}

#resumo p{
    margin:0;
}

.caixaconteudo li {
    color: black;
    display: flex;
}

footer {
    background-color: black;
    padding: 10px;
    color: white
}

/* Media queries */

@media(max-width: 900px){
    *{
        font-size: 0.88rem;
    }
    article{
        width:80%;
    }

    article h1{
        font-size: 2.5rem;
    }

    .caixaconteudo{
        width: 80%;
    }

}

@media(max-width: 505px){
    article h1{
        font-size: 2rem;
    }

}

@media(max-width: 422px){
    article h1{
        font-size: 1.55rem;
    }

}